@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'react-quill/dist/quill.snow.css';

.test-border {
  border: 1px solid;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.ql-container {
  min-height: 200px !important;
}

.ql-editor {
  img {
    display: unset !important;
  }

  a {
    color: blue !important;

    &:hover {
      color: blue !important;
    }
  }
}
